<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <h2>Carga Tus Datos</h2>


    <div class="col-sm-4">
      <section class="login-form">
        <form #datosForm="ngForm" class="col-sm-10">

          <input type="text" #pesoaprox="ngModel" name="Peso" [(ngModel)]="DatosUsuario.PesoAprox" placeholder="Peso"
                 class="form-control input-lg" required/>


          <input type="text" #altura="ngModel" name="Altura" [(ngModel)]="DatosUsuario.Altura" placeholder="Altura"
                 class="form-control input-lg" required/>


          <input type="text" #edad="ngModel" name="Edad" [(ngModel)]="DatosUsuario.Edad" placeholder="Edad"
                 class="form-control input-lg" required/>

          <br/>
          <input type="radio" #sexo="ngModel" name="Sexo" [(ngModel)]="DatosUsuario.Sexo" value="M"/>Masculino
          <br />
          <input type="radio" #sexo="ngModel" name="Sexo" [(ngModel)]="DatosUsuario.Sexo" value="F"/>Femenino
          <br />

        </form>
      </section>
    </div>

    <div>
      <form #actividadForm="ngForm" class="col-sm-10">
        <h4>Actividad Laboral</h4>

        <select name="ActividadLaboral" [(ngModel)]="ActividadLaboral.Categoria">
          <option value="" disabled selected></option>
          <option *ngFor="let list of list" [value]="">{{list}}</option>
        </select>

      </form>
    </div>


    <br/>
    <button (click)="cargar()" class="btn btn-lg btn-primary">Aceptar</button>

    <button (click)="volver()" class="btn btn-lg btn-secundary">Cancelar</button>

    <div class="col-md-4"></div>
  </div>
</div>
