<block-ui>
  <body>
  <div [hidden]="_enableCargar">
    <div *ngIf="_cargando; else terminado" align="center">
      <br><br>
      <mat-spinner></mat-spinner>
      <span><strong>Cargando..</strong></span>
    </div>
    <ng-template #terminado>
      <div *ngIf="_ListRecetas.length != 0; else noexist">
        <div align="center">
          <mat-card-title align="center">
            <b>Recetas Pendientes de Evaluación</b>
          </mat-card-title>
          <mat-card *ngFor="let receta of _ListRecetas">
            <mat-card-header>
              <mat-card-title class="title-style">{{PonerMayuscula(receta?.Nombre)}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="momento-style">
              <span>Para: </span>
              <span *ngFor="let momento of receta?.MomentoDelDia" class="momento-style"> {{momento}} - </span>
              <button mat-button color="accent" (click)="evaluarReceta(receta)" style="float: right">Evaluar
                <mat-icon color="accent">arrow_right</mat-icon>
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <ng-template #noexist>
        <div align="center">
          <br>
          <span class="NotFoundRecetas">No hay recetas pendientes de evaluación</span>
        </div>
      </ng-template>

      <button mat-fab color="primary" class="button-add-new" (click)="nuevaReceta()">
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </div>
  <app-cargar-receta-completa *ngIf="_enableCargar" [Receta]="_RecetaElegida"
                              (finalizarCarga)="evaluacionFinish($event)"></app-cargar-receta-completa>
  </body>
</block-ui>
