.example-stretched-tabs {
  max-width: 800px;
}

.container {
  position: sticky;
  padding-left: 0;
  padding-right: 0;
  flex: 0 0 100%;
}

.image-styles {
  max-height: 25%;
  max-width: 25%;
}


footer.footer-menu {
  position: fixed;
  bottom:0px;
  background-color: #3f51b5;
  width:100%;
  margin-top: -50px;
}

footer.footer-menu button {
  width: 33%;
  align-items: center;
  height: 50px;
  color: white;
}
