<div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label="Calorias">
      <div style="display: flex">
        <ngx-charts-gauge
          [view]=""
          [scheme]="colorScheme"
          [customColors]="colorScheme"
          [results]="multi"
          [animations]="true"
          [bigSegments]="3"
          [smallSegments]="0"
          [max]="60000"
          [min]="0"
        >
        </ngx-charts-gauge>
      </div>

    </mat-tab>
    <mat-tab label="Valores Nutricionales">
      <div style="display: flex">
        <ngx-charts-polar-chart
          [view]=""
          [scheme]="colorScheme"
          [results]="multi2"
          [animations]="true"
        >
        </ngx-charts-polar-chart>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<footer class="footer-menu">
  <button mat-icon-button >
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>local_grocery_store</mat-icon>
  </button>
</footer>
