<div *ngIf="!cargaDatos; else terminado" align="center">
  <br><br>
  <mat-spinner></mat-spinner>
  <span><strong>Cargando..</strong></span>
</div>
<ng-template #terminado>
  <div align="center">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Calorias">
        <div style="display: block; flex: auto" align="center">
          <fusioncharts
            width="100%"
            type="AngularGauge"
            [dataSource]="InfoCalorias">
          </fusioncharts>

          <div align="justify">
            <mat-card>
              <mat-card-subtitle>
                Recuerda cargas las comidas ingeridas en "Tus Menús"
              </mat-card-subtitle>
            <span>
              <b>Pediodo de evalacion: </b>{{diaEvaluacion}}
            </span>
              <br>
              <b>Consumiste: </b> {{CaloriasRecomendada}}/{{CaloriasRequerida}} cal.
              <br>
              Te sugerimos los siguientes consejos:
            </mat-card>
            <div *ngFor="let consejo of ValoresSelected?.Consejos">
              <mat-card>{{consejo}}</mat-card>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Valores Nutricionales">
        <div align="justify">
          <mat-card>
            <mat-card-content>
              <div *ngFor="let valor of InfoValores">
                <mat-card>
                  {{valor.ValorNutricional.Nombre}}:
                  <span [style.color]="valor.ColorResultado">{{valor.Resultado}}</span>
                  <fusioncharts
                    width="100%"
                    height="120"
                    type="hlineargauge"
                    [dataSource]="valor.Gauge">
                  </fusioncharts>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-card>

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <footer class="footer-menu">
    <button mat-icon-button (click)="switchSemana()">
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="config" (click)="configuracion()">
      <mat-icon>settings</mat-icon>
    </button>
  </footer>
</ng-template>
