<div>
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label="Calorias">
      <div style="display: block; flex: auto" align="center">
        <fusioncharts
          width="100%"
          type="AngularGauge"
          [dataSource]="dataSource">
        </fusioncharts>
      </div>
    </mat-tab>
    <mat-tab label="Valores Nutricionales">
      <div style="display: flex">
        <canvas baseChart
                width="100%"
                [datasets]="radarChartData"
                [labels]="radarChartLabels"
                [chartType]="radarChartType"
        ></canvas>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<footer class="footer-menu">
  <button mat-icon-button (click)="switchSemana()">
    <mat-icon>swap_horiz</mat-icon>
  </button>
  <button mat-icon-button >
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button class="config">
    <mat-icon>settings</mat-icon>
  </button>
</footer>
