<div align="center">
  <span>Mostrar evaluacion del:</span>
  <mat-form-field color="accent">
    <mat-select placeholder="Dia" [(value)]="Selected">
      <mat-option *ngFor="let dia of DiasSemana" [value]="dia">
        {{dia}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" (click)="confirmar(Selected)">Aceptar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button mat-stroked-button color="secundary" (click)="cancelar()">Cancelar</button>
  </div>
</div>
