<div align="center">
  <div align="left">
    <span>Guardar evaluacion semanal el:</span>
  </div>
  <mat-form-field color="accent">
    <mat-select placeholder="Dia" [(value)]="data.FechaEvaluacion">
      <mat-option *ngFor="let dia of DiasSemana" [value]="dia.value">
        {{dia.dia}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div align="left">
    <span>Mostrar evaluacion por:</span>
  </div>
  <mat-form-field color="accent">
    <mat-select placeholder="Defecto" [(value)]="data.DefaultEvaluacion">
      <mat-option *ngFor="let config of defaultConfig" [value]="config.value">
        {{config.titulo}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" (click)="confirmar(data)">Aceptar</button>
    &nbsp;&nbsp;&nbsp;&nbsp;<button mat-stroked-button color="secundary" (click)="cancelar()">Cancelar</button>
  </div>
</div>
