<section class="ver-receta-style">
  <div *ngIf="recetaCargandoInfo; else terminado" align="center">
    <br><br>
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #terminado>
    <div align="center">
      <h1 class="title-style">{{RecetaElegida?.Nombre}}</h1>
      <div class="row">
        <div class="column leftColumn">
          <star-rating style="border: 0!important" labelText="Favorito" labelPosition="left" [starType]="'svg'" [numOfStars]="1" staticColor="ok"
                       (starClickChange)="togglefavorito()" [rating]="starFavorito"></star-rating>
        </div>
        <div class="column rightColumn">
          <star-rating labelText="Puntuacion" labelPosition="left" [starType]="'svg'" [numOfStars]="5" staticColor="ok"
                       [readOnly]="puntuarEnable" [rating]="puntajeUsuario" (starClickChange)="onPuntuar($event)" ></star-rating>
        </div>
      </div>
      <img [src]="RecetaElegida.Imagen" class="image-style">
      <br/>
      <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;{{RecetaElegida?.Descripcion}}</p>
    </div>
    <div class="info-style">
      <div class="row">
        <mat-icon class="icon-style col-sm-6">info</mat-icon>
        {{RecetaElegida?.Porciones}} Porcion/es
        <mat-icon class="icon-style col-sm-6">done</mat-icon>
        {{RecetaElegida?.Calorias}} Calorias
      </div>
      <div>
        <mat-icon class="icon-style col-sm-6" color="yellow">restaurant</mat-icon>
        <span *ngFor="let momento of RecetaElegida?.MomentoDelDia">
        {{momento?.Nombre}} -
      </span>
      </div>
    </div>
    <br/>
    <div>
      <h4 class="subtitle-style">Ingredientes</h4>
      <div *ngFor="let ingrediente of RecetaElegida?.Ingredientes">
        <p class="ingredientes-style">
          {{ingrediente?.Ingrediente?.Nombre}} -&nbsp;&nbsp;{{ingrediente?.Cantidad}} {{ingrediente?.Unidad}}
        </p>
      </div>
    </div>
    <br/>
    <div>
      <h4 class="subtitle-style">Como preparar</h4>
      <p *ngFor="let pasos of RecetaElegida?.Pasos; let i = index" class="pasos-style">
        {{i+1}}) {{pasos}}
      </p>
    </div>
    <div style="margin: 2px">
      <button mat-flat-button color="primary" (click)="volver()">
        <mat-icon>arrow_left</mat-icon>
        Volver
      </button>
    </div>
  <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <div>
      <h6 style="padding: 0px; text-decoration: underline">Ultimos comentarios</h6>
      <div>
        <mat-form-field style="width: 100%">
        <input matInput placeholder="Agregar comentario" maxlength="120" [(ngModel)]="Comentario">
        <mat-icon matSuffix (click)="onComentar()" >add</mat-icon>
          <mat-hint>Max. 120</mat-hint>
      </mat-form-field>
      </div>
      <div *ngFor="let comentario of RecetaElegida.Comentarios.reverse(); let i=index">
        <div *ngIf="i<cantComentarios">
          <b>{{comentario.Nombre}}</b>
          <p>{{comentario.Texto}}</p>
        </div>
      </div>
    </div>
  </ng-template>
</section>
