.ver-receta-style {
  padding: 15px;
}

.title-style {
  font-size: 28px;
}

.image-style {
  border: 2px solid black;
  height: 100%;
  width: 100%;
  max-height: 250px;
}

.pasos-style {
  text-align: justify;
}

.subtitle-style {
  font-style: italic;
  text-decoration: underline;
}

.info-style {
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}

.icon-style {
  font-size: 14px;
}

favorito-style {
  float: right;
  color: #ffff00;
}

.ingredientes-style {
  text-align: justify;
  margin-bottom: 2px;
}

.favorite-style {
  vertical-align: middle!important;
}

.rightColumn {
  width: 33.33%;
  float: left;

}
.leftColumn {
  width: 50%;
  float: left;
}
