<form class="form-inline my-2 my-lg-0">
  <input matInput class="form-control mr-sm-1" type="search" placeholder="Buscar" [(ngModel)]="Receta.Nombre"
         name="busqueda" value="" [required]>
  <button class="btn btn-outline-success my-2 my-sm-0" (click)="buscar()">
    <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
  </button>
</form>

<div align="center">
  <mat-card *ngFor="let receta of results">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="image-ratio">
    <mat-card-header>
      <mat-card-title class="title-style">{{receta?.Nombre}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="description-style">
      <p>
        Aca va la descripcion de la receta
      </p>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button color="primary">Compartir
        <mat-icon color="primary">share</mat-icon>
      </button>
      <button mat-button color="primary">Ver más
        <mat-icon color="primary">arrow_right</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>

