.image-ratio {
  max-height: 250px;
}

.description-style {
  text-align: justify;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-checkbox {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 3%;
}

.title-style {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

.momento-style {
  font-weight: bold;
  font-size: small;
  font-style: oblique;
  text-align: left;
}

.paginas-style {
  text-align: center;
}

.NotFoundRecetas {
  font-style: italic;
}
