<li class="mat-form-field--inline" style="padding: 10px">
    <mat-form-field color="accent">
      <input matInput name="busqueda" #busqueda="ngModel" [(ngModel)]="RecetaBuscada.Nombre" value="" minlength="3"
             placeholder="Buscar..">
      <button mat-button matSuffix mat-icon-button [disabled]="!busqueda.valid" color="accent" (click)="handleBuscar()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-hint>Minimo 3 caracteres</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="filtrosDialog()"> Filtrar<mat-icon>filter_list</mat-icon></button>
</li>

<section class="buscar-receta-style" id="Mostrar Recetas">
  <div *ngIf="recetasSearching; else terminado" align="center">
    <br><br>
    <mat-spinner></mat-spinner>
    <span><strong>Buscando..</strong></span>
  </div>
  <ng-template #terminado>
    <div *ngIf="MensajeBusqueda == ''; else noexist">
      <div align="center">
        <mat-card *ngFor="let receta of results">
          <img mat-card-image [src]="receta.Imagen" class="image-ratio">
          <mat-card-header>
            <mat-card-title class="title-style">{{receta?.Nombre}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="description-style">
            <p>
              {{receta?.Descripcion}}
            </p>
          </mat-card-content>
          <mat-card-content class="momento-style">
            <p>
              <span>Para: </span>
              <span *ngFor="let momento of receta?.MomentoDelDia" class="momento-style"> {{momento}} - </span>
            </p>
          </mat-card-content>
          <mat-card-actions align="right">
            <button mat-button color="accent" (click)="verMas(receta)">Ver más
              <mat-icon color="accent">arrow_right</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
    <ng-template #noexist>
      <div align="center">
        <span class="NotFoundRecetas">{{MensajeBusqueda}}</span>
      </div>
    </ng-template>
  </ng-template>

</section>

<div *ngIf="pagina != 0" class="paginas-style" id="Paginas" [hidden]="recetasSearching">
  <button mat-icon-button *ngIf="pagina != 1" (click)="backward()" color="accent">
    <mat-icon color="accent">arrow_back_ios</mat-icon>
  </button>
  <span *ngIf="resultTotal>5">{{pagina}}</span>
  <button mat-icon-button *ngIf="controlPaginas==6" (click)="forward()" color="accent">
    <mat-icon color="accent">arrow_forward_ios</mat-icon>
  </button>
</div>


