<form class="form-inline my-2 my-lg-0">
  <input matInput class="form-control mr-sm-1" type="search" placeholder="Buscar" [(ngModel)]="Receta.Nombre" name="busqueda" value="" [required]>
  <button class="btn btn-outline-success my-2 my-sm-0"  (click)="buscar()">
    <mat-icon aria-label="Side nav toggle icon">search</mat-icon>
  </button>
</form>

<div align="center">
  <mat-card *ngFor="let receta of results">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="image-ratio">
    <mat-card-header>
      <mat-card-title>{{receta?.Nombre}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>

