<body>
<div *ngIf="loading; else notLogged" class="vertical" align="center">
  <br><br>
  <mat-spinner></mat-spinner>
  <span><strong>Cargando..</strong></span>
</div>
<ng-template #notLogged>
  <div *ngIf="login" align="center">
    <app-login></app-login>
    <div class="cambio-button">
      <button mat-raised-button color="primary" (click)="change()" class="button-style">
        REGISTRATE
      </button>
    </div>
  </div>

  <div *ngIf="!login" align="center">
    <app-registro></app-registro>
    <div class="cambio-button">
      <button mat-raised-button color="primary" (click)="change()" class="button-style">INICIA SESIÓN</button>
    </div>
  </div>
</ng-template>
</body>
