<body>
<main>
  <div *ngIf="!cargarDatos; else terminado" align="center">
    <br><br>
    <mat-spinner></mat-spinner>
    <span><strong>Cargando..</strong></span>
  </div>
  <ng-template #terminado>
    <div [hidden]="verReceta" align="center">
      <mat-card >
        <mat-card-title class="title-card">
          <mat-icon>star</mat-icon>
          FAVORITAS
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngIf="listFavoritos.length == 0;else recetas">
            No tienes ninguna receta favorita aun.
          </div>
          <ng-template #recetas>
            <div  *ngFor="let receta of listFavoritos" class="card-style">
              <mat-card-title>{{PonerMayuscula(receta.Nombre)}}</mat-card-title>
              <mat-card-content>
                <b>Momento:</b> <span *ngFor="let momento of receta?.MomentoDelDia"> {{momento.Nombre}} -</span>
                <p class="alignright">
                  <button mat-icon-button color="accent" (click)="verMas(receta)">Ver
                    <mat-icon color="accent">arrow_right</mat-icon>
                  </button>
                </p>
                <div style="clear: both;"></div>
                <mat-divider></mat-divider>
              </mat-card-content>
            </div>
          </ng-template>
        </mat-card-content>
      </mat-card>
    </div>
    <app-informacion-receta
      *ngIf="verReceta" [RecetaElegida]="RecetaElegida" (volverEvent)="verReceta = $event">
    </app-informacion-receta>
  </ng-template>
</main>
</body>
