.card-style {
  max-height: 150px;
  text-align: left;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

mat-card-title {
  font-size: 20px;
  margin-bottom: 4px;
}

mat-card-title.title-card {
  font-size: 24px;
  margin-bottom: 8px;
}

mat-card-content {
  margin-bottom: 4px;
}

mat-card {
  padding-top: 10px;
  padding-bottom: 0px;
}
