<div align="center">
  <h3 style="font-size: 24px;">Actividad fisica</h3>
  <div class="alert alert-danger" *ngIf="errorMensaje">
    <strong>Error: </strong> Pruebe mas tarde
  </div>
  <div *ngIf="cargando; else terminado" align="center">
    <br>
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <ng-template #terminado>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let list of ListActividadesUsuario" class="expansion-sytle">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{list.ActividadFisica.TipoActividad}}: {{list.ActividadFisica.Modalidad}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div align="left">
          <div *ngIf="list.ActividadFisica.Distancia != null">
            Distancia: {{list.ActividadFisica.Distancia}}
          </div>
          Cantidad: {{list.Cantidad}}Hrs
        </div>
        <div align="right">
          <button mat-flat-button color="error" (click)="eliminarActividad(list)">Eliminar</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <br>
  <button mat-flat-button color="primary" (click)="openDialogNuevo()">Añadir actividad
    <mat-icon>add</mat-icon>
  </button>
</div>
