<body>
<div *ngIf="!enableMostrar; else terminado" align="center">
  <mat-spinner></mat-spinner>
</div>
<ng-template #terminado>
    <mat-form-field style="width: 100%;" color="accent">
      <mat-select  placeholder="Tipo de ingrediente.." [(ngModel)]="OrigenElegido" (selectionChange)="cargarIngredientes()" required="true">
        <mat-option *ngFor="let origen of ListOrigenes" [value]="origen">
          {{origen}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <form>
      <mat-form-field style="width: 100%;" color="accent" [hidden]="ingredientesOrigen">
        <input type="text" placeholder="Ingrediente" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="elegirIngrediente()">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
    <div align="center">
      <button mat-flat-button (click)="agregar()" >Agregar</button>
    </div>
</ng-template>
</body>
