table, th {
  border-bottom: 1px solid black;
  padding: 2px;
  font-size: 14px;
}

table, td {
  border-bottom: 1px gray;
  padding: 2px;
  font-size: 14px;
}

mat-card-title {
  font-size: 24px;
}

mat-card {
  margin: 10px;
}
