.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a.desactivado {
  cursor: not-allowed;
  opacity: .65;
  pointer-events: none;
}

a.desactivado:hover { text-decoration: none; }
a.desactivado:focus { text-decoration: none; }
a.desactivado:active { text-decoration: none; }

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.badge {
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 13px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
}

