<body>
  <div>
    <mat-card>
      <mat-card-header>Configuracion</mat-card-header>
      <br>
      <mat-card-content>
        <li class="mat-form-field--inline">
          <mat-form-field style="width: 100%;">
            <input matInput placeholder="Nombre" type="text" [(ngModel)]="_Unidad.Categoria" required/>
          </mat-form-field>
          <mat-form-field style="width: 100%;">
              <mat-select [(ngModel)]="_Unidad.UnidadBasica" placeholder="Unidad basica">
                <mat-option *ngFor="let basica of _UnidadBasicas.unidades" [value]="basica">
                  {{basica}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </li>
      </mat-card-content>
      <mat-card-actions>
        <div style="padding: 0 24px 0 24px">
          <button mat-flat-button color="primary" (click)="addNuevaCategoria()">Agregar</button>
          <button mat-stroked-button color="secondary" (click)="volver()" style="float: right">Cancelar</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</body>
