<div>
  <form #actividadForm="ngForm">
    <div>
      <mat-form-field color="accent">
        <mat-select #actividad="ngModel" name="ActividadLaboral" (selectionChange)="changedata()"
                    [(ngModel)]="ActividadLaboral.Categoria" placeholder="Actividad Laboral">
          <mat-option *ngFor="let obj of list" [value]="obj.Categoria">
            {{obj.Categoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="openInfo()">
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </form>
</div>

