.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mat-form-field--inline .mat-form-field {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mat-form-field--inline .mat-form-field:nth-child(1) {
  margin-right: 10%;
}

.valores mat-form-field {
  max-width: 150px;
  min-width: 75px;
  width: auto;
}

.valores-basicos mat-form-field {
  max-width: 100%;
  min-width: 75px;
  width: auto;
}

.valor-input {
  text-align: justify;
}

.title-dialog {
  margin: 0!important;
}

mat-list{
  padding: 0;
}

mat-card {
  margin: 10px;
  padding: 12px;
}
