<body>
<div align="center">
  <mat-form-field>
    <mat-select name="Ingrediente" [(ngModel)]="ingredienteElegido.Ingrediente" placeholder="Ingrediente" required>
      <mat-option *ngFor="let ingre of data" [value]="ingre">
        {{ingre.NombreMostrar}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput name="Cantidad" [(ngModel)]="ingredienteElegido.Cantidad"
           placeholder="Cantidad" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-select name="Unidad" [(ngModel)]="ingredienteElegido.Unidad" placeholder="Unidad" required>
      <mat-option *ngFor="let unidad of Unidades" [value]="unidad">
        {{unidad}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div >
    <button mat-flat-button color="primary" (click)="confirmar()">Aceptar</button>
    <button mat-flat-button color="secundary" (click)="cancelar()">Cancelar</button>
  </div>
</div>
</body>
