<body>
<div *ngIf="_cargando; else terminado" align="center">
  <br><br>
  <mat-spinner></mat-spinner>
  <span><strong>Cargando..</strong></span>
</div>
<ng-template #terminado>
  <mat-card>
    <mat-card-title style="font-weight: bold; text-decoration: underline">
      Nueva Comida
      <mat-icon class="icon-style col-sm-6">restaurant</mat-icon>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-form-field>
        <input type="text" matInput  name="NombreReceta" [(ngModel)]="_nuevaComida.Nombre"
               placeholder="Nombre" required />
      </mat-form-field>
    </mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <h5 style="text-decoration: underline">
          Ingredientes:
        </h5>
        <div *ngIf="_nuevaComida.Ingredientes == null || _nuevaComida.Ingredientes.length == 0; else lista">
          <p style="font-style: italic; text-align: center; margin-bottom: 0px">Agrega ingredientes con el boton</p>
        </div>
        <ng-template #lista>
          <mat-list-item *ngFor="let ingrediente of _nuevaComida.Ingredientes" style="height: 30px; padding: 0px; font-size: 14px">
            > {{ingrediente.Ingrediente.NombreMostrar}} - {{ingrediente.Cantidad}} {{ingrediente.Unidad}}
          </mat-list-item>
        </ng-template>
        <div align="center">
          <button mat-icon-button color="primary" (click)="nuevoIngrediente()"><mat-icon>add</mat-icon></button>
        </div>
      </mat-list>
    </mat-card-content>
    <div align="center">
      <button mat-flat-button (click)="crearReceta()" [disabled]="_nuevaComida.Ingredientes == null || _nuevaComida.Ingredientes.length == 0">Finalizar</button>
      <button mat-stroked-button disabled >Cancelar</button>
    </div>
  </mat-card>
</ng-template>
</body>
