<div class="container">
  <mat-card>

    <div>
      <h2>REGISTRATE</h2>
      <div *ngIf="errorMensaje">
        <div class="alert alert-danger">
          <strong>Error: </strong> {{errorMensaje}}
        </div>
      </div>

      <div>
        <section>
          <form #loginForm="ngForm">

            <mat-form-field>
              <input matInput type="text" #username="ngModel" name="username" [(ngModel)]="Usuario.UserName" placeholder="Usuario" required/>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" #Nombre="ngModel" name="Nombre" [(ngModel)]="Usuario.Nombre" placeholder="Nombre" required/>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" #Apellido="ngModel" name="Apellido" [(ngModel)]="Usuario.Apellido" placeholder="Apellido" required/>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="email" #Email="ngModel" name="Email" [(ngModel)]="Usuario.Email" placeholder="Email" required email="true"/>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" #password="ngModel" name="password" [(ngModel)]="Usuario.Password"
                     placeholder="Contraseña" required/>
            </mat-form-field>

            <div></div>

            <button mat-raised-button color="primary" type="submit" (click)="singup()" [disabled]="!username.valid || !Nombre.valid ||
          !Apellido.valid || !Email.valid || !password.valid">Aceptar
            </button>

          </form>
        </section>
      </div>
    </div>

  </mat-card>

</div>

