<body>
<main>
  <div [hidden]="verReceta">
    <div *ngIf="enableCargando; else terminado" align="center">
      <br><br>
      <mat-spinner></mat-spinner>
      <span><strong>Cargando..</strong></span>
    </div>
    <ng-template #terminado>
      <div align="center">
        <mat-card *ngIf="datosExist" class="proximo-card">
          <div *ngIf="!menuNull; else menuFallo">
            <mat-card-title>
              PROXIMA COMIDA: {{ProximaComida.MomentoDelDia.Nombre}}
            </mat-card-title>
            <mat-card-content>
              {{ProximaComida.Receta.Nombre}}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" routerLink="/verMenu">Ir al menú</button>
            </mat-card-actions>
          </div>
          <ng-template #menuFallo>
            <mat-card-title *ngIf="!menuNull; else menuFallo">
              OOPS! Parece que algo salio mal.
            </mat-card-title>
            <mat-card-content>
              No pudimos cargar tu proxima comida
            </mat-card-content>
          </ng-template>
        </mat-card>
        <mat-card *ngIf="!datosExist" class="proximo-card">
          <mat-card-content align="center">
            Carga tus datos y podrás saber que comer en todo momento<br>
            <button mat-stroked-button color="accent" routerLink="/cargarDatos" style="font-size: 20px">¡Hagámoslo!
            </button>
          </mat-card-content>
        </mat-card>
        <mat-card class="recetas">
          <mat-card-title>
            RECETAS NUEVAS:
          </mat-card-title>
          <mat-card-content>
            <div align="center" *ngIf="recetasNuevas.length == 0; else nuevasCargado">
              <mat-spinner diameter="40"></mat-spinner>
            </div>
            <ng-template #nuevasCargado>
              <ngu-carousel #carouselNuevas [inputs]="carouselTileConfig" [dataSource]="recetasNuevas">
                <ngu-tile *nguCarouselDef="let item; let i=index">
                  <ngu-item>
                    <mat-card (click)="verRecetaView(item)">
                      <img mat-card-image="" [src]="item.Imagen">
                      <mat-card-content>{{item.Nombre}}</mat-card-content>
                    </mat-card>
                  </ngu-item>
                </ngu-tile>
                <button NguCarouselPrev class='leftRs'>&lt;</button>
                <button NguCarouselNext class='rightRs'>&gt;</button>
              </ngu-carousel>
            </ng-template>
          </mat-card-content>
        </mat-card>
        <mat-card class="recetas">
          <mat-card-title>
            RECETAS MÁS VALORADAS:
          </mat-card-title>
          <mat-card-content>
            <div align="center" *ngIf="recetasValoradas.length == 0; else puntuadasCargado">
              <mat-spinner diameter="40"></mat-spinner>
            </div>
            <ng-template #puntuadasCargado>
              <ngu-carousel #carouselValoradas [inputs]="carouselTileConfig" [dataSource]="recetasValoradas">
                <ngu-tile *nguCarouselDef="let item; let i=index">
                  <ngu-item>
                    <mat-card (click)="verRecetaView(item)">
                      <img mat-card-image="" [src]="item.Imagen">
                      <mat-card-content>{{item.Nombre}}</mat-card-content>
                    </mat-card>
                  </ngu-item>
                </ngu-tile>
                <button NguCarouselPrev class='leftRs'>&lt;</button>
                <button NguCarouselNext class='rightRs'>&gt;</button>
              </ngu-carousel>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </div>
  <app-informacion-receta
    *ngIf="verReceta" [RecetaElegida]="RecetaElegida" (volverEvent)="verReceta = $event">
  </app-informacion-receta>
</main>
</body>




