.proximo-card {
  padding: 10px;
}
.proximo-card .mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-decoration: underline;
}
.proximo-card .mat-card-content {
  font-size: 18px;
  margin-bottom: 0;
}

.saludo {
  font-size: 22px!important;
  font-weight: bolder!important;
  text-decoration: none!important;
}
.proximo-card .mat-card-actions{
  padding: 0;
}

.recetas {
  text-align: left;
  font-size: 16px;
  padding: 5px;
}
.recetas .mat-card-title{
  font-weight: bold;
  margin-bottom: 0;
}

.recetas .mat-card {
}

.recetas .mat-card-image {
  margin-bottom: 2px;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  left: 0;
  background-color: #F0F0D8;
  border-color: #789048;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  right: 0;
  background-color: #F0F0D8;
  border-color: #789048;
}

.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
li {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
&.active {
   background: #6b6b6b;
   transform: scale(1.2);
 }
}
}

.item {
  padding-bottom: 5px;
}

.image-styles {
  max-height: 25%;
  max-width: 25%;
}

img.mat-card-image {
  height: 120px!important;
  width: 160px!important;
}
