<body>
<div align="center">
  <mat-form-field>
    <mat-select #Ingrediente="ngModel" name="Ingrediente" [(ngModel)]="ingredienteElegido.Ingrediente.Nombre" placeholder="Ingrediente" required>
      <mat-option *ngFor="let ingre of data" [value]="ingre">
        {{ingre.NombreMostrar}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input  #Cantidad="ngModel" type="number" matInput name="Cantidad" [(ngModel)]="ingredienteElegido.Cantidad"
           placeholder="Cantidad" required/>
  </mat-form-field>
  <mat-form-field>
    <mat-select #Unidad="ngModel" name="Unidad" [(ngModel)]="ingredienteElegido.Unidad" placeholder="Unidad" required>
      <mat-option *ngFor="let unidad of Unidades" [value]="unidad">
        {{unidad}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div >
    <button mat-flat-button color="primary" (click)="confirmar()" [disabled]="ingredienteElegido.Unidad == null || ingredienteElegido.Cantidad == null|| ingredienteElegido.Ingrediente == null">Aceptar</button>
    <button mat-flat-button color="secundary" (click)="cancelar()">Cancelar</button>
  </div>
</div>
</body>
