.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.titulo-style {
  background-color: white;
  text-decoration: underline;
}

.card-style {
  max-height: 175px;
}


.dia-style {
  font-size: 32px;
  font-weight: bold;
}

footer.footer-menu {
  position:fixed;
  bottom:0px;
  background-color: #3f51b5;
  width:100%;
}

footer.footer-menu button {
  width: 33%;
  align-items: center;
  height: 50px;
  color: white;
}
