<body>
<section>
  <div *ngIf="!menuExist; else terminado" align="center">
    <br><br>
    <mat-spinner></mat-spinner>
    <span><strong>Cargando..</strong></span>
  </div>
  <ng-template #terminado>
    <ngu-carousel #carousel [inputs]="carouselTileConfig" [dataSource]="Menus"  (onMove)="onmoveFn($event)" (carouselLoad)="onmoveFn($event)" >
      <ngu-tile *nguCarouselDef="let item;" >
        <div>
          <div [hidden]="verReceta">
            <div>
              <div id="header" align="center">
                <h1>{{item?.FechaLetra}}</h1>
              </div>
              <mat-card *ngFor="let receta of item?.Recetas" class="card-style">
                <mat-card-title>{{receta.Receta.Nombre}}</mat-card-title>
                <mat-card-content>
                  <p class="alignleft">
                    <b>Momento:</b> {{receta.MomentoDelDia.Nombre}}<br>
                    <b>Porcion/es:</b> {{receta.PorcionSugerida}} <b>Calorias:</b>
                    {{receta.Receta.Calorias*(receta.PorcionSugerida)}}
                  </p>
                  <p class="alignright">
                    <button mat-icon-button color="primary" (click)="verMas(receta.Receta)">Ver
                      <mat-icon color="primary">arrow_right</mat-icon>
                    </button>
                  </p>
                  <div style="clear: both;"></div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </ngu-tile>
    </ngu-carousel>
    <div align="center">
      <button mat-flat-button color="primary" (click)="reemplazarMenu(Menu._id)">Reemplazar</button>
    </div>



    <app-informacion-receta
      *ngIf="verReceta" [RecetaElegida]="RecetaElegida" (volverEvent)="verReceta = $event">
    </app-informacion-receta>
  </ng-template>
</section>
</body>






