<div>
  <div style="font-style: italic; font-size: 14px;text-align: center">
    <span>¿Que comiste y que cantidad?.</span>
    <span> Esta información sera reflejada en la evaluación</span>
  </div>
  <table>
    <tbody>
    <tr>
      <th>Receta</th>
      <th>Porcion/es</th>
      <th></th>
    </tr>
    <tr *ngFor="let receta of data.Recetas">
      <td>{{receta.Receta.Nombre}}</td>
      <td align="center">
        <mat-form-field style="width: 16px" color="accent">
          <input matInput type="number"  [(ngModel)]="receta.PorcionIngerida"
                 placeholder="" required/>
        </mat-form-field>
      </td>
      <td>
        <mat-checkbox color="accent" [(ngModel)]="receta.Ingerido"></mat-checkbox>
      </td>
    </tr>
    </tbody>
  </table>
  <div align="center">
    <button mat-flat-button color="primary" (click)="modificarReceta()">Aceptar</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-stroked-button color="secundary" (click)="cancelar()">Cancelar</button>
    <button mat-mini-fab color="primary" class="alignright" (click)="agregarRecetaIngerida()"><mat-icon>add</mat-icon></button>
  </div>
</div>
