<body>
<main>
  <div *ngIf="!menuExist; else terminado" align="center">
    <br><br>
    <mat-spinner></mat-spinner>
    <span><strong>Cargando..</strong></span>
  </div>
  <ng-template #terminado>
    <div [hidden]="(verReceta || verListaCompras)">
      <ngu-carousel #carousel [inputs]="carouselTileConfig" [dataSource]="Menus" (onMove)="onmoveFn($event)">
        <ngu-tile *nguCarouselDef="let item; let i=index">
          <div>
            <div [hidden]="verReceta">
              <div>
                <div id="header" align="center">
                  <button mat-icon-button style="float: left" color="primary" (click)="carousel.moveTo(i-1)" [hidden]="carousel.currentSlide == 0">
                    <mat-icon>arrow_left</mat-icon>
                  </button>
                  <span class="dia-style">
                    {{item?.FechaLetra}}
                  </span>
                  <button mat-icon-button style="float: right" color="primary" (click)="carousel.moveTo(i+1)" [hidden]="carousel.currentSlide+1 == carousel.itemLength">
                    <mat-icon>arrow_right</mat-icon>
                  </button>
                </div>
                <div (click)="carousel.moveTo(mainSlide)" [hidden]="carousel.currentSlide == mainSlide" align="center">
                  <span style="font-size: 11px; font-style: italic">Volver a hoy</span>
                </div>
                <mat-card *ngFor="let receta of item?.Recetas" class="card-style">
                  <mat-card-title>{{receta.Receta.Nombre}}</mat-card-title>
                  <mat-card-content>
                    <p class="alignleft">
                      <b>Momento:</b> {{receta.MomentoDelDia.Nombre}}<br>
                      <b>Porcion/es:</b> {{receta.PorcionSugerida}} <b>Calorias:</b>
                      {{receta.Receta.Calorias*(receta.PorcionSugerida)}}
                    </p>
                    <p class="alignright">
                      <button mat-icon-button color="primary" (click)="verMas(receta.Receta)">Ver
                        <mat-icon color="primary">arrow_right</mat-icon>
                      </button>
                    </p>
                    <div style="clear: both;"></div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </ngu-tile>
      </ngu-carousel>
      <div style="height: 50px"></div>
      <footer class="footer-menu">
        <button mat-icon-button [disabled]="mainSlide>carousel.currentSlide" class="btn-block" (click)="reemplazarMenu(Menu._id)">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="cambiarInfoReceta()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [disabled]="mainSlide>carousel.currentSlide" (click)="listaCompras()">
          <mat-icon>local_grocery_store</mat-icon>
        </button>
      </footer>
    </div>
    <app-informacion-receta
      *ngIf="verReceta" [RecetaElegida]="RecetaElegida" (volverEvent)="verReceta = $event">
    </app-informacion-receta>
    <app-lista-compras
      *ngIf="verListaCompras" [MenuLista]="Menu._id" (volverEvent)="verListaCompras = $event">
    </app-lista-compras>
  </ng-template>
</main>
</body>






