.alignleft {
  float: left;
  margin-bottom: 2px;
}

.alignright {
  float: right;
  margin-bottom: 2px;
}

.titulo-style {
  background-color: white;
  text-decoration: underline;
}

.card-style {
  max-height: 200px;
}


.dia-style {
  font-size: 32px;
  font-weight: bold;
}
ngu-tile {
  padding: 0!important;
}

mat-card {
  padding: 12px;
}

mat-card-title {
  font-size: 20px;
  margin-bottom: 8px;
}

footer.footer-menu {
  position:fixed;
  bottom:0;
  background-color: #C0D860;
  width:100%;
}

footer.footer-menu button {
  width: 33%;
  align-items: center;
  height: 50px;
  color: black;
}

footer.footer-menu button[disabled] {
  color: grey;
}
