<div class="container">
  <mat-card>
    <div>
      <h2>INICIA SESIÓN</h2>
      <div *ngIf="errorMensaje">
        <div class="alert alert-danger">
          <strong>Error: </strong> Usuario/Contraseña incorrectos
        </div>
      </div>

      <div class="col-sm-4">
        <section class="login-form">
          <form #loginForm="ngForm" (ngSubmit)="login()" class="col-sm-10">

            <input type="text" #username="ngModel" name="username" [(ngModel)]="Usuario.UserName" placeholder="Usuario"
                   class="form-control input-lg"/>

            <input type="password" #password="ngModel" name="password" [(ngModel)]="Usuario.Password"
                   placeholder="Contraseña" class="form-control input-lg"/><br/>

            <div class="pwstrength_viewport_progress"></div>

            <button mat-raised-button color="primary" type="submit" class="btn btn-lg btn-block">Ingresar</button>
            <div>
              <section class="links">
                <a href="#">¿Olvidaste tu contraseña?</a>
              </section>
            </div>
          </form>
        </section>
      </div>
    </div>
  </mat-card>
  <br>
  <button class="btn-googleplus"(click)="loginGoogle()">Inicia sesión con Google+</button>
</div>

