h2 {
  text-align: center;
}

.links{
  text-align: center;
}

.btn-googleplus {
  background: #E93F2E;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #b72213;
}
