<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()" class="col-md-10">
    <p>
      <label>Nombre de Usuario </label>
      <input type="text" #username="ngModel" name="username" [(ngModel)]="Usuario.UserName" class="form-control" required/>
    </p>
    <p>
      <label>Contraseña </label>
      <input type="password" #password="ngModel" name="password" [(ngModel)]="Usuario.Password" class="form-control" required/>
    </p>

    <input type="submit" value="Ingresar" class="btn btn-primary"/>

  </form>
</div>
