<div align="center">
    <h4 class="alert alert-info">INFORMACIÓN<mat-icon>info</mat-icon></h4>
    <mat-card-content>
      <p style="text-align: justify">
        Bienvenido, este es el primer paso para armar tus menus personalizados. Una vez que cargado tus datos principales
        podras configurar tu <b>actividad fisica</b>, <b>preferencias</b> y/o <b>dietas especiales.</b>
      </p>
    </mat-card-content>
  <button mat-flat-button color="primary" (click)="aceptar()">Aceptar</button>
</div>
