<div *ngIf="cargando; else terminado" align="center">
  <br><br>
  <mat-spinner></mat-spinner>
  <span><strong>Cargando..</strong></span>
</div>
<ng-template #terminado>
  <div *ngIf="errorMensaje">
    <div class="alert alert-danger">
      <strong>Error: </strong> {{errorMensaje}}
    </div>
  </div>
  <div *ngIf="!enablePreferencias">
    <mat-card style="padding: 8px 0px">
      <div>
        <app-nuevo-datos-usuario [DatosUsuario]="DatosUsuario" (sendDataUsuario)="DatosUsuario = $event" align="center">

        </app-nuevo-datos-usuario>
      </div>
      <div>
        <app-actividad-laboral [ActividadLaboral]="ActividadLaboral" (sendDataActividad)="getActividad($event)"
                               align="center"></app-actividad-laboral>
      </div>
    </mat-card>
    <div [hidden]="!existDatos">
      <mat-card style="padding: 8px 4px">
        <div>
          <app-actividad-fisica ></app-actividad-fisica>
        </div>
      </mat-card>
      <mat-card style="padding: 10px 10px">
        <div>
          <div class="preferencias">
            <span style="size: 8px">Configurar preferencias y dietas especiales </span>
            <button mat-icon-button (click)="configPreferencias()">
              <mat-icon>arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
    <div style= "padding: 0px">
      <mat-card>
        <button mat-flat-button color="primary" type="submit" (click)="cargarDatos()">Finalizar</button>
        <button mat-stroked-button color="secundary" (click)="volver()" style="float: right">Cancelar</button>
      </mat-card>
    </div>
  </div>
  <app-preferencias [DatosUsuario]="DatosUsuario" (returnEvent)="preferenciasReturn($event)"
                    *ngIf="enablePreferencias"></app-preferencias>
</ng-template>

